@media screen and (max-width: 768px) {
    #navi {
        height: 9em;
    }

    .carousel-control-next, .carousel-control-prev {
        color: #6200ee !important;
    }

    .user-panel {
        width: 100%;
    }

    .user-data {
        margin-top: -33px;
    }

    .food-list {
        width: 100%;
        border-top: 1px solid #d3d3d3;
    }

    .image-circle {
        margin: 21px 3% 0 0;
        order: 1;
    }

    .user-info {
        display: flex;
        justify-content: space-between;
    }

    .user-info > div.firstname {
        margin-top: 32px;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        order: 2;
    }

    .weight {
        margin-left: 24%;
    }

    .height {
        margin-left: 4%;
    }

    .grey-circle {
        background: #300076;
        border-radius: 100%;
        width: 56px;
        height: 56px;
        text-align: center;
        color: #ffffff;
        padding-top: 8px;
        margin-top: 25px;
        order: 3;
    }

    .img-circle {
        border-radius: 100%;
        width: 60px;
        height: 60px;
    }

    .food-image {
        width: 20%;
    }

    .user-meal {
        margin-bottom: 6%;
    }

    .consumed {
        margin: 10px 0 10px 7%;
    }

    .goal {
        margin: 10px 7% 10px 0;
    }

    .user-info-row {
        position: relative;
        top: -100px;
    }

    .carousel-text {
        position: relative;
        top: 100px;
        color: #000;
        font-size: 28px;
        font-weight: 400;
    }

    .modal-dialog {
        margin: 1.5rem !important;
    }

    .searchList {
        position: fixed;
        left: 2%;
        top: 8%;
        width: 96%;
        height: 91%;
        background: #ffffff;
        z-index: 2;
        border-radius: 1%;
        overflow-x: scroll;
    }
}

@media screen and (min-width: 768px) {
    .user-panel {
        float: left;
        width: 35%;
        background: #F5F5F5;
    }

    .carousel-text {
        font-size: 32px;
        color: #fff;
        margin: 7px 0;
        font-weight: 300;
    }

    .food-list {
        float: left;
        width: 65%;
    }

    .food-ul {
        cursor: pointer;
    }

    .grey-circle {
        background: #7A7A7A;
        border-radius: 100%;
        width: 56px;
        height: 56px;
        text-align: center;
        color: #ffffff;
        padding-top: 8px;
        margin-top: 25px;
    }

    .image-circle {
        margin: 16px 40px 0 40px;
    }

    .img-circle {
        border-radius: 100%;
        width: 92px;
        height: 92px;
    }

    .user-info-row {
        border-bottom: 1px solid #d3d3d3;
    }

    .user-info {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .food-image {
        width: 12%;
    }

    .user-meal {
        padding-bottom: 76%;
    }

    .consumed {
        margin: 18px 0 10px 15px;
    }

    .goal {
        margin: 18px 15px 10px 0;
    }

    .searchList {
        position: fixed;
        left: 34%;
        top: 8%;
        width: 32%;
        height: 91%;
        background: #ffffff;
        z-index: 2;
        border-radius: 1%;
        overflow-x: scroll;
    }
}

.main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#navi {
    background: #6200ee;
}

.searchForm {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.icon {
    position: absolute;
    left: 8%;
    top: 37%;
}

.searchBox {
    padding-left: 13% !important;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1 !important;
}

/*
    user-panel
*/

.grey-circle h6 {
    margin: 0;
}

.grey-circle span {
    font-size: 12px;
    font-weight: 100;
    display: block;
}

.user-info div {
    float: left;
}

.user-name {
    margin-bottom: 10px;
}

.user-name span {
    font-size: 24px;
    color: #000000de;
    margin-bottom: 10px;
}

.consumed h4, .goal h4 {
    margin: 0;
    font-weight: 400;
}

.consumed span, .goal span {
    font-size: 12px;
    color: #00000099;
    display: block;
}

.bg-purple {
    background: #6200ee !important;
}

.percentage {
  color: #00000099;
}

.meal {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.meal div {
    float: left;
    margin: 0 6%;
}

.meal div h6 {
    margin: 0;
}

.meal div span {
    font-size: 12px;
    color: #00000099;
    display: block;
}
/*
    food-list
*/
.food-list {
    overflow-x: scroll;
}

.food-item {
    display: flex;
}

.food-item > div {
    margin-top: 10px;
}

.food-info {
    width: 88%;
    border-bottom: 1px solid #d3d3d3;
}

.food-name {
    width: 60%;
    float: left;
    overflow: hidden;
}

.food-energy {
    text-align: right;
    padding-right: 25px;
    float: right;
}

.bigger-font {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #000000de;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.sub-font {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #00000099;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
  Button
*/
.addFood {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  text-align: center;
  color: #ffffff;
}

.addFood a {
  color: #ffffff;
  text-decoration: none;
}

.addFood a:hover {
  color: #ffffff;
  text-decoration: none;
}

.plusBtn {
  border-radius: 100%;
  background: #6200ee;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 22px;
}

/*
  foodDetail
*/
.foodDetail {
  position: fixed;
  left: 33%;
  top: 16%;
  width: 34%;
  height: 66%;
  border-radius: 1%;
  overflow: hidden;
}

.itemVals {
  width: 100%;
  height: 30%;
  overflow: hidden;
}

.savings, .grams, .calories {
  position: relative;
  float: left;
}

.itemVals div.grams {
  margin-left: 16px;
  margin-top: 7px;
  text-align: right;
}

.itemVals h5 {
  margin: 0;
}

.itemVals div.calories {
  margin-left: 20px;
  margin-top: 7px;
  text-align: right;
}

.selection {
  display: flex;
  width: 120px;
  height: 56px;
  border-radius: 4px 4px 0 0;
  background: #e8e8e8;
  border-bottom: 2px solid #6200ee;
}

.selection div.icons {
  margin: 8px 0 0 23px;
  color: #00000099;
  width: 10px;
  line-height: 1;
}

.icons i.fa {
  font-size: 10px !important;
  cursor: pointer;
}

div.savingVal h6 {
  margin: 7px 0 0 16px;
  font-size: 14px;
  color: #6200ee;
}

div.itemVals div.savingVal p {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #000000de;
}

div.itemVals p {
  font-size: 12px;
  color: #00000099;
}

div.itemVals h5 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
}

div.savings span {
  font-size: 12px;
  color: #6200ee;
  margin-left: 15px;
  font-weight: 500;
  display: block;
  width: 120px;
}

div.itemCategory h5 {
  margin: 0 0 5px 0;
  font-size: 14px;
  color: #00000099;
  letter-spacing: 2px;
}

/*
    modal
*/

.modal {
  top: 15% !important;
}

.modal-dialog {
  max-width: 323px !important;
}

.modal-header {
  border: 0 !important;
  padding-bottom: 0 !important;
}

.modal-body {
  padding-top: 0 !important;
}

/*
  custom select
*/
/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #e8e8e8;
  color: #00000099;
  font-size: inherit;
  padding: .5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 10px;
  width: 18em;
  font-weight: 600;
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.addButton {
  background: #6200ee;
  width: 72px;
  height: 36px;
  border-radius: 4px;
  float: right;
  margin-top: 12px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

/*
  searchList
*/
.common {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
}

.searchItem {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-image {
  width: 13%;
  float: left;
  margin-left: 10px;
}

.search-name {
  width: 79%;
  float: left;
  margin: 14px 0 0 13px;
  font-size: 12px;
  font-weight: 500;
}

.common a:not(:last-child) div.search-name {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 16px;
}

.branded div.search-name {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
}

.searchList h5 {
  color: #00000099;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}

.search-name h6 {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.search-name span {
  font-size: 12px;
  color: #00000099;
}
